<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative dash-blog-row">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Author: {{post.user.name}}</strong>
      <h3 class="mb-0">{{post.name}}</h3>
      <div class="mb-1 text-muted">{{format_date post.date_created}}</div>
      <p class="card-text mb-auto">{{post.description}}</p>
      <a href="/post/{{post.id}}" class="stretched-link">Continue reading</a>
    </div>
    <div class="col-auto d-none d-lg-block" id="blog-post">{{{get_image}}}</div>
  </div>
{{/each}}
